.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex: 1;
  margin-top: 10px;
  gap: 30px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links {
  display: flex;
  justify-items: center;
  align-items: center;
}

.right-links {
  display: flex;
  justify-items: center;
  align-items: center;
}

/* SOLUTION 

.header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

*/
